@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	box-sizing: border-box
}

ul {
	list-style: none;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 2rem;
}

header>a {
	text-decoration: none;
	color: #000;
	font-size: 1.5rem;
	font-weight: 700;
}

header form button {
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

header form {
	display: flex;
	position: relative;
	border: 1px solid #D3D3D3;
	border-radius: .4rem;
	align-items: center;
	overflow: hidden;
	padding-right: .5rem;

}

header form input[type="search"] {
	border: none;
	width: 100%;
	padding: .5rem 2rem .5rem .5rem;
	outline: none;
}

.loader,
.error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 5.25rem);
	width: 100%;
}

.loader .circle {
	width: 1.2rem;
	height: 1.2rem;
	background: #C7C7C7;
	border-radius: 50%;
	margin: 0 .3rem;
}

.loader .circle:nth-child(1) {
	animation: scale-loader 1s linear infinite;
	animation-delay: 0ms;
}

.loader .circle:nth-child(2) {
	animation: scale-loader 1s linear infinite;
	animation-delay: 300ms
}

.loader .circle:nth-child(3) {
	animation: scale-loader 1s linear infinite;
	animation-delay: 600ms
}

.error {
	flex-direction: column;
}

.error p {
	font-size: 1.2rem;
	text-align: center;
	margin: .2rem 0;
}

.error svg {
	width: 30px;
	height: 30px;
}

.error svg path {
	fill: #D01D36;
}

.search-counter {
	text-align: center;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.cards .card {
	width: calc(100% / 2 - 40px);
	box-shadow: 0px 0px 1px 2px #FAFAFA, 0px 0px 2px 4px #FAFAFA;
	margin: 20px;
	border-radius: .4rem;
	overflow: hidden;
	padding: .8rem;
	display: flex;
	align-items: center;
}

.card a {
	text-decoration: none;
	color: #000;
	cursor: pointer;

}

.card .row-left {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: .8rem;
}

.card .row-rigth {
	width: 55%
}

.card img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	border-radius: .5rem;
}

.card .row-left .tags>a,
.course .tags>a {
	text-decoration: none;
	font-size: .7rem;
	color: #fff;
	border-radius: .3rem;
	margin-left: .3rem;
	margin-bottom: .3rem;

	padding: .3rem;

}

.card .row-left .tags a:first-child,
.course .tags a:first-child {
	margin-left: 0
}

.card .row-left .tags,
.course .tags {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: .3rem;
	flex-wrap: wrap;
	text-align: center;

}

.card .card-description {
	margin-bottom: 0;
}

.wrap-course {
	width: 68%;
	display: inline-block;
	position: relative;
	padding: 0 2rem;
}

.course .tags {
	margin: 1.2rem 0;
	justify-content: flex-start
}

.course > img {
	width: 100%;
	display: block;
	margin: 0 auto;
	border-radius: .5rem;

}

.course h1 {
	font-size: 1.6rem;
}
.course p{
	color: #484848
}
.couse .links {

}
.course .links a img {
	width: 30px;
	margin: 0 auto;
}

.course .links a {
		display: inline-flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	text-align: center;
	color: #000;
} 

aside {
	width: 28%;
	position: absolute;
	top: 5rem;
	left: 68%;
	display: inline-block;
}

aside ul li {
	border-radius: .3rem;
	box-shadow: 0px 0px 4px 2px #FAFAFA, 0px 0px 6px 3px #FAFAFA;
	margin-bottom: .8rem;
	cursor: pointer;

}

aside ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: .4rem;
}

@keyframes scale-loader {
	from {
		transform: scale(1.1);
		opacity: 1;
	}

	to {
		transform: scale(.5);
		opacity: 0;
	}
}

@media(max-width:700px) {
	header form {
		margin-left: 1rem;
	}

	header form input[type="search"] {
		width: 100%;
	}

	header form .list-search {
		position: absolute;
	}

	.cards .card {
		width: 100%;
		flex-direction: column;
		text-align: center;

	}

	.card .row {
		width: 100%;
		margin: 0;
	}
}