@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	box-sizing: border-box
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;

}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 2rem;
	background: rgba(223, 229, 229, .2);

	}


.wrap-menu-hamburger{
	display: none;
	font-size: 2rem;
}
/*
.wrap-menu-hamburger {
	width: 20px;
	height: 20px;
	position: relative;
	overflow: hidden;
}

.wrap-menu-hamburger .line {
	width: 50px;
	height: 2px;
	background: #000000;
	margin: 2.5px;
}

.wrap-menu-hamburger .line-1 {
	top: 0;
	left: 0
}

.wrap-menu-hamburger .line-2 {
	top: 6px;
	left: 0;
}

.wrap-menu-hamburger .line-3 {
	top: 12px;
	left: 0;
}

.wrap-menu-hamburger.active .line-1 {
	transform: rotate(-25deg) translate(25px,-25px)
}

.wrap-menu-hamburger.active .line-2 {
	transform: translateY(100px)
}
.wrap-menu-hamburger.active .line-3 {
	transform: rotate(25deg)
}
*/
nav,
.menu-links {
	display: flex;

}
.menu-links{
	
}
.menu-links>.menu-item {
display: flex;
	text-align: center;
	margin-right: 5px;


}
.menu-links>.menu-item i{
				margin-left: 5px;
}
.menu-item {
	background: #FAFAFA;
	position: relative;
	width: 150px;

}

.menu-item li a {
	color: #000;

}

.menu-links>.menu-item:hover .menu-inside {
	--clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.menu-inside {
	position: absolute;#ECC95A
	top: 2.9rem;
	left: 0;
	overflow: hidden;
	transition: clip-path .5s ease-in-out;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: 0 0 2px 3px #FAFAFA;
	--clip: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
	clip-path: var(--clip);
	z-index: 10;
}

.menu-inside .menu-item {
	text-align: start;
}

.menu-inside li:hover a {
	background: #E9E9E9;
	color: #000;
}

.menu-inside li a {
	color: #2C2C2C;
	display: block;
	padding: .6rem 1rem;
	background: transparent;
	transition: background 500ms linear;
	outline: none;
	border-radius: .3rem;
}

.header>a {
	text-decoration: none;
	color: #000;
	font-size: 1.5rem;
	font-weight: 700;
	cursor: pointer;
}

.header form button {
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header form {
	display: flex;
	position: relative;
	border: 1px solid #D3D3D3;
	border-radius: .4rem;
	align-items: center;
	overflow: hidden;
	padding-right: .5rem;

}

.header form input[type="text"] {
	border: none;
	width: 100%;
	padding: .5rem 2rem .5rem .5rem;
	outline: none;
}

.hero {
	display: flex;
	align-items: center;
	text-align: center;
}

.hero .row-left {
	padding: 1rem;
}

.hero .row {
	width: 50%;
}

.hero img {
	width: 100%;
	border-radius: .7rem 0 0 .7rem;
}

.hero h1 {
	font-size: 2.5rem;
	margin: .5rem 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.hero p {
	font-size: 1rem;
	margin: 0 0 .4rem 0;
	font-weight: 300;
	letter-spacing: .8px;
}

.loader,
.error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 5.25rem);
	width: 100%;
}

.loader .circle {
	width: 1.2rem;
	height: 1.2rem;
	background: #C7C7C7;
	border-radius: 50%;
	margin: 0 .3rem;
}

.loader .circle:nth-child(1) {
	animation: scale-loader 1s linear infinite;
	animation-delay: 0ms;
}

.loader .circle:nth-child(2) {
	animation: scale-loader 1s linear infinite;
	animation-delay: 300ms
}

.loader .circle:nth-child(3) {
	animation: scale-loader 1s linear infinite;
	animation-delay: 600ms
}

.error {
	flex-direction: column;
}

.error p {
	font-size: 1.2rem;
	text-align: center;
	margin: .2rem 0;
}

.error svg {
	width: 30px;
	height: 30px;
}

.error svg path {
	fill: #D01D36;
}

.search-counter {
	text-align: center;
	padding-top: 1rem;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.cards .card {
	width: calc(100% / 2 - 40px);
	box-shadow: 0px 0px 1px 2px #FAFAFA, 0px 0px 2px 4px #FAFAFA;
	margin: 20px;
	border-radius: .4rem;
	overflow: hidden;
	padding: .8rem;
	display: flex;
	align-items: center;
}

.card a {
	text-decoration: none;
	color: #000;
	cursor: pointer;

}

.card .row-left {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: .8rem;
}

.card .row-rigth {
	width: 55%
}

.card img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	border-radius: .5rem;
}

.card .row-left .tags>a,
.course .tags>a {
	text-decoration: none;
	font-size: .7rem;
	color: #fff;
	border-radius: .3rem;
	margin-left: .3rem;
	margin-bottom: .3rem;

	padding: .3rem;

}

.card .row-left .tags a:first-child,
.course .tags a:first-child {
	margin-left: 0
}

.card .row-left .tags,
.course .tags {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: .3rem;
	flex-wrap: wrap;
	text-align: center;

}

.card .card-description {
	margin-bottom: 0;
}

.wrap-course {
	width: 68%;
	display: inline-block;
	position: relative;
	padding: 0 2rem 4rem 2rem;
}

.course .tags {
	margin: 1.2rem 0;
	justify-content: flex-start
}

.course>img {
	width: 100%;
	display: block;
	margin: 0 auto;
	border-radius: .5rem;

}

.course h1 {
	font-size: 1.6rem;
}

.course p {
	color: #484848
}

.course .links a img {
	width: 30px;
	margin: 0 auto;
}

.course .links a {
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	text-align: center;
	color: #000;
}

.course .more-courses {
	padding: 1rem;
	background: #67697A;
	border-radius: .4rem;
		text-align: center;

	margin: 1rem auto;
}
.course .more-courses h4{
	font-size: 1.1rem;
	color: #fff;
	margin: .4rem; 
}
.course .more-courses span a {
	color: #F6F6F6;
	text-transform: uppercase;
	letter-spacing: .8px;
}
.course .wrap-social-media {
	display: flex;
	margin: 1rem 0;
}
.course .wrap-social-media a{
	border: 2px solid #FAFAFA;
	border-radius: 1rem;
	font-size: 1.5rem;
	padding: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}
.course .wrap-social-media a.facebook{
	color: #0574E7;
}
.course .wrap-social-media a.whatsapp{
	color: #4BDA66;
}

.course .wrap-social-media a.twitter{
	color: #1D9BF0;
}

aside {
	width: 28%;
	position: absolute;
	top: 5rem;
	left: 68%;
	display: inline-block;
}

aside ul li {
	display: inline-block;
	border-radius: .3rem;
	box-shadow: 0px 0px 4px 2px #FAFAFA, 0px 0px 6px 3px #FAFAFA;
	margin-bottom: .8rem;
	cursor: pointer;

}

aside ul li a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	padding: .4rem;
}

@keyframes scale-loader {
	from {
		transform: scale(1.1);
		opacity: 1;
	}

	to {
		transform: scale(.5);
		opacity: 0;
	}
}
